{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}
   <style>

        html, body {
            height: 100%;
            margin: 0;
        }

        .col-pixel-width-400{
            flex: 0 0 400px;
        }

       .modal-dialog {
          min-height: calc(100vh - 60px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: auto;
          @media(max-width: 768px) {
            min-height: calc(100vh - 20px);
          }
        }

   </style>

    {% include "navbar.html" %}

    <div class="container-fluid h-75">
        <div class="d-flex h-100 flex-column col-12 justify-content-around align-items-center p-none m-0 pt-5">
            <div class="d-flex col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 justify-content-center">
                <div class="border border-3 col-pixel-width-400">
                    <div class="h3 text-center font-italic pt-4 pb-2">
                        Award Details
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="d-flex col-5 text-secondary">
                            AWARD CODE:
                        </div>
                        <div class="d-flex col-7">
                            {{ award.code }}
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div class="d-flex col-5 text-secondary">
                            ISSUED:
                        </div>
                        <div class="d-flex col-7">
                            {{ award.award_ts|datetime(restaurant.timezone,"%m-%d-%Y at %-I:%M %p") }}
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div class="d-flex col-5 text-secondary">
                            STATUS:
                        </div>
                        <div class="d-flex col-7">
                            {{ award.status }}
                        </div>
                    </div>

                    {% if award.status == "REDEEMED" %}

                    <div class="d-flex flex-row mb-2">
                        <div class="d-flex col-5 text-secondary">
                            PARTY SIZE:
                        </div>
                        <div class="d-flex col-7">
                            {{ award.customers|valueIfNone("TBD") }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="d-flex col-5 text-secondary">
                            REDEEMED:
                        </div>
                        <div class="d-flex col-7">
                            {{ award.redemption_ts|datetime(restaurant.timezone,"%m-%d-%Y at %-I:%M %p") }}
                        </div>
                    </div>


                    <div class="d-flex flex-row mb-2">
                        <div class="d-flex col-5 text-secondary">
                            DISCOUNT:
                        </div>
                        <div class="d-flex col-7">
                            {{ award.offer_percent|valueIfNone("TBD") }}
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% if message %}
    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#exampleModal').modal('toggle');
            });
        </script>
    {% endif %}


{% endblock %}  