{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}
<style>
    table.bg {
        background: #a6c5c7;
        padding: 10px;
        border-spacing: 10px;
    }

    div.offerHeader {
        font-size: 6vw;
        color: white;
        font-weight: bolder;
    }
    div.offerHeader2{
        font-size: 3vw;
        color: white;
        font-weight: bolder;
    }
    div.offerHeader3{
        font-size: 2vw;
        color: black;
        font-weight: bolder;
    }
    li.indentation{
        margin-left: 3vw;
    }
    div.offerFooter{
        font-size: 1.5vw;
        color: white;
        font-weight: bolder;
    }

</style>
<TABLE CLASS="bg">
    <TR>
        <TD COLSPAN="2" WIDTH="100%">
            <img src="/static/{{ restaurant }}.png" width="100%">
        </TD>
    </TR>
    <TR bgcolor="#35908b">
        <TD WIDTH="79.3%" valign="middle" align="center">
            <div class="offerHeader">
                {{ data.minPercent }}% - {{ data.maxPercent }}% OFF
            </div>
            <div class="offerHeader2">
                ENTIRE BILL FOR PARTY OF {{ data.customers }}
            </div>
            <div class="offerHeader3">
                Valid {{ data.startDate }} - {{ data.endDate }}
            </div>
            {% if data.status == "REDEEMED" %}
                <BR>
            <div class="offerHeader3" style="color: blue; background:white">
                This offer was redeemed on {{ data.redemptionDate }} at {{ data.redemptionTime }}.  Discount offered was {{ data.discount }}%.
            </div>
            {% endif %}
        </TD>
        <TD  ALIGN="RIGHT">
            <img src="/a/{{ restaurant }}/qrcode/{{ awardCode }}" width="100%">
        </TD>
    </TR>
    <TR>
        <TD colspan="2">
            <div class="offerHeader3" style="margin-left: 3vw;">
                UPON ARRIVAL, get code scanned to determine discount. Discounts beyond minimum amounts below are granted randomly.<BR>
                <li class="indentation">
                    <B>{{data.peakPercent}}% MINIMUM: {{ data.hours }}<BR>
                </li>
                <li class="indentation">
                    <B>{{data.offPeakPercent}}% MINIMUM: All other times</B>
                </li>
                <div align="center">
                    <B>Cannot be combined with other offers</B>
                </div>
            </div>
        </TD>
    </TR>
    <TR bgcolor="#35908b">
        <TD colspan="2">
            <div class="offerFooter" align="center">
                Offer brought to you by Cheap Yums ™    Find us at https://www.meetup.com/cheap-yums/
            </div>
        </TD>
    </TR>
</TABLE>
{% endblock %}