{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}
<style>

</style>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <DIV STYLE="width: 100%; text-align: center">
        <IMG SRC="/static/logo_and_name.png">
    </DIV>

    <DIV STYLE="text-align: center">
        <H3>
            Find the yummiest and best restaurant deals near you!<BR><BR>
        </H3>
    </DIV>

    <FORM ACTION="/comingsoon" METHOD="post">
        <TABLE class="form" width="300" ALIGN="center">
            <TR>
                <TD width="200">
                    YOUR NAME:<BR>
                    <INPUT TYPE="text" NAME="name" SIZE="42" VALUE="{{ data.name }}">
                </TD>
                <TD WIDTH="20">
                    &nbsp;
                </TD>
                <TD width="80">
                    ZIP CODE:<BR>
                    <INPUT TYPE="text" NAME="zipcode" SIZE="12" VALUE="{{ data.zipcode }}">
                </TD>
            </TR>
            <TR><TD colspan="3">&nbsp;&nbsp;</TD></TR>
            <TR>
                <TD COLSPAN="3">
                    EMAIL:<BR>
                    <INPUT TYPE="text" NAME="email" SIZE="56" VALUE="{{ data.email }}">
                </TD>
            </TR>
            <TR><TD colspan="3">&nbsp;</TD></TR>
            <TR>
                <TD COLSPAN="3" align="center">
                    <INPUT TYPE="submit" name="Join" value="SIGN UP TO RECEIVE YUMMY DEALS">
                </TD>
            </TR>
        </TABLE>
    </FORM>

    <BR>

    <DIV STYLE="text-align: center">
        <H4>
            Join for FREE to start saving money when eating out!
        </H4>
    </DIV>

{% endblock %}