{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}
<style>

    table.bg {
        background: url("/static/landing_background_desktop.png");
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 300px;
    }

    h1.logo {
        text-align: center;
        font-size: 6vw;
        color: white;
    }

    h3 {
        text-align: center;
        font-size: 1.3vw;
        color: white;
        font-weight: normal;
        font-style: italic;
    }

</style>
    <TABLE CLASS="bg" WIDTH="100%">
        <TR>
            <TD COLSPAN="2">
                <H1 CLASS="logo">
                    <IMG SRC="/static/logo.png" WIDTH="10%">
                        YumsApp
                </H1>
            </TD>
        </TR>
        <TR>
            <TD COLSPAN="3">
                <H3>
                    comming soon - the yummiest deals on your phone!
                </H3>

            </TD>
        </TR>
        <TR>
            <TD WIDTH="50%" ALIGN="RIGHT">
                <H3>
                    <IMG SRC="/static/btn_for_restaurants.png" WIDTH="50%"><BR>
                    grow your business with us
                </H3>
            </TD>
            <TD WIDTH="50%">
                <H3>
                    <IMG SRC="/static/btn_for_foodies.png" WIDTH="50%"><BR>
                    discover great yums and offers
                </H3>
            </TD>
        </TR>
        <TR>
            <TD COLSPAN="2">
                <IMG HEIGHT="280">
                <H3 STYLE="color: black">
                    YumsApp™ 2019
                </H3>
            </TD>
        </TR>
    </TABLE>


{% endblock %}