{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}
    <style>

        html, body {
            height: 100%;
            margin: 0;
            overflow-y:hidden;
        }

        .ya-bg {
             background-image: url("/static/landing_background_desktop.png");
             background-attachment: fixed;
             background-position: center bottom;
             background-repeat: no-repeat;
             background-size: cover;
             height: 100%;
        }


    </style>
    {% include "navbar.html" %}

    <!---MOBILE FORMAT--->
    <div class="container-fluid d-sm-none ya-bg h-100">
        <div class="d-flex h-50 flex-column justify-content-around align-items-center pt-5">
            <div class="col-12">
                &nbsp;
            </div>
            <div class="col-10">
                <a href="/act">
                    <img class="img-fluid" src="/static/btn_for_restaurants.png">
                </a>
                <p class="mt-2 bg-dark-alpha h6 text-white text-center font-italic">grow your business with us</p>
            </div>
            <div class="col-10">
                <a href="eat">
                    <img class="img-fluid" src="/static/btn_for_foodies.png">
                </a>
                <p class="mt-2 bg-dark-alpha h6 text-white text-center font-italic">discover great yums and offers</p>
            </div>
        </div>
        <div class="fixed-bottom d-flex h-10 align-items-center  bg-dark-alpha">
            <div class="col-sm">
                <p class="h5 text-center text-white">
                    Coming soon - the yummiest deals on your phone!
                </p>
            </div>
        </div>
    </div>

    <!---DESKTOP FORMAT--->
    <div class="container-fluid d-none d-sm-block ya-bg h-100">
        <div class="d-flex h-25 align-items-end">
            <div class="col-md">
                <p class="h3 text-center text-white">
                    Coming soon - the yummiest deals on your phone!
                </p>
            </div>
        </div>

        <div class="d-flex h-25 flex-row justify-content-around align-items-center">
            <div class="col-md-5">
                <a href="/act">
                    <img class="img-fluid" src="/static/btn_for_restaurants.png">
                </a>
                <p class="mt-2 bg-dark-alpha h6 text-white text-center font-italic">grow your business with us</p>
            </div>
            <div class="col-md-5">
                <a href="/eat">
                    <img class="img-fluid" src="/static/btn_for_foodies.png">
                </a>
                <p class="mt-2 bg-dark-alpha h6 text-white text-center font-italic">discover great yums and offers</p>
            </div>

        </div>
    </div>

    <!---
    YumsApp™ 2019
    --->


{% endblock %}