    <nav class="navbar navbar-expand-md navbar-light bg-light ontop">
        <a class="navbar-brand" href="/"><img class="img-responsive" src="/static/logo_long_sm.png"></a>
        <ul class="navbar-nav flex-row ml-auto d-md-flex">
            {% if "restaurant" in session %}
            <li class="nav-item">
                <a class="nav-link pr-3" href="/r/{{session["restaurant"]}}">{{ session["restaurantName"] }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/r/signout">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/r/signin">Sign In</a>
            </li>
            {% endif %}
        </ul>
    </nav>