{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>Cheap Yums</h2>
      </div>

<hr>
    To customize your offer, please specify the number of people in your party. (Maximum: {{ maxCustomers }})<BR><BR>
    <B>Please note:</B> If you don't specify the number of people in your party correcly, the restaurant may refuse to honor your award.<BR><BR>
    <form action = "{{ updateURL }}" method="post">
        <TABLE>
            <TR>
                <TD width="170">
                    <B>People in your party</B>
                </TD>
                <TD width="100">
                    <input type="number" name="customers" min="1" max="{{ maxCustomers }}" style="width: 100px;"/>
                </TD>
            </TR>
        </TABLE>
        <BR>

        <input type="submit">
    </form>


</div>

{% endblock %}  