{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}
   <style>

        html, body {
            height: 100%;
            margin: 0;
            min-width: 900px;
        }

   </style>

    {% include "navbar.html" %}
    <div class="container-fluid">
        <div class="h1 my-4">
            Awards
        </div>

        {% for offer in data %}
            <div class="h3">
                {{ offer["offer"].code }}
            </div>
            <div class="row flex-row flex-nowrap">
                {% if  offer["awards"]|length > 0 %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Code
                                </th>
                                <th scope="col">
                                    Issued
                                </th>
                                <th scope="col">
                                    Status
                                </th>
                                <th scope="col">
                                    Party Size
                                </th>
                                <th scope="col">
                                    Redemption Date
                                </th>
                                <th scope="col">
                                    Offer Value (%)
                                </th>
                                <th scope="col">
                                    Action
                                </th>
                            </tr>
                        </thead>

                        {% for award in offer["awards"] %}
                            <tr class="border">
                                <td>
                                    <a href="/r/{{ restaurant.code }}/award/{{ award.code }}" target="_blank">
                                        {{ award.code }}
                                    </a>
                                </td>
                                <td>
                                    {{ award.award_ts|datetime(restaurant.timezone,"%m-%d-%Y at %-I:%M %p") }}
                                </td>
                                <td>
                                    {{ award.status }}
                                </td>
                                <td>
                                    {{ award.customers|valueIfNone("TBD") }}
                                </td>
                                <td>
                                    {{ award.redemption_ts|datetime(restaurant.timezone,"%m-%d-%Y at %-I:%M %p") }}
                                </td>
                                <td>
                                    {{ award.offer_percent|valueIfNone("TBD") }}
                                </td>
                                <td>
                                    {% if award.customers != None %}
                                    <a href="/a/{{ restaurant.code }}/award/{{ award.code }}" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm">
                                            View Award
                                        </button>
                                    </a>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    No awards found for this offer
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}