{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}
   <style>

        html, body {
            height: 100%;
            margin: 0;
        }

        .col-pixel-width-300{
            flex: 0 0 300px;
        }

   </style>

    {% include "navbar.html" %}
    <div class="container-fluid h-75">
        <div class="h1 my-4">
            Awards
        </div>

        {% for offer in data %}
            <div class="h3">
                {{ offer["offer"].code }}
            </div>
            {% if  offer["awards"]|length > 0 %}
                <table class="border border-3">
                    <tr class="border-bottom">
                        <td class="pr-4">
                            Code
                        </td>
                        <td class="px-4">
                            Issued
                        </td>
                        <td class="px-4">
                            Status
                        </td>
                        <td class="px-4">
                            Party Size
                        </td>
                        <td class="px-4">
                            Redemption Date
                        </td>
                        <td class="px-4">
                            Offer Value (%)
                        </td>
                    </tr>
                    {% for award in offer["awards"] %}
                        <tr>
                            <td class="pr-4">
                                {{ award.code }}
                            </td>
                            <td class="px-4">
                                {{ award.award_ts|datetime }}
                            </td>
                            <td class="px-4">
                                {{ award.status }}
                            </td>
                            <td class="px-4">
                                {{ award.customers|valueIfNone("TBD") }}
                            </td>
                            <td class="px-4">
                                {{ award.redemption_ts|datetime }}
                            </td>
                            <td class="px-4">
                                {{ award.offer_percent|valueIfNone("TBD") }}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No awards found for this offer
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}